<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Oops, Errors!</title>
    <meta name="description" content="errors"/>
    <meta name="keywords" content="errors"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <link rel="stylesheet" href="../static/css/amazeui.min.css" th:href="@{/css/amazeui.min.css}"/>
    <!--[if lte IE 9]>
    <p class="browsehappy">You are using a<strong> outdated </strong>browser which is not supported in this website. please <a href="http://browsehappy.com/" target="_blank">UPDATE YOUR BROWSER</a>
        and try again!</p>
    <![endif]-->
</head>
<body>
<div class="admin-content" style="background: white !important;">
    <div class="admin-content-body">
        <div class="am-g">
            <div class="am-u-sm-12">
                <h2 class="am-text-center am-text-xxxl am-margin-top-lg" th:text="${status}+'. '+${error}"></h2>
                <p class="am-text-center">Oops! there are some errors!</p>
                <pre class="page-404">
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /, oops ,\\
    //  error! \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
            </div>
        </div>
    </div>
</div>

<script src="../static/js/libs/jquery.min.js" th:src="@{/js/libs/jquery.min.js}"></script>
<!--<![endif]-->
<script src="../static/js/libs/amazeui.min.js" th:src="@{/js/libs/amazeui.min.js}"></script>

</body>
</html>