<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${hasErrors}?'Errors!':'All Blocks'">All Blocks</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Ethereum Explorer"/>
    <meta name="keywords" content="Ethereum Explorer,Ethereum,Blockchain"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, sys-scalable=no"/>
    <meta name="renderer" content="webkit"/>
    <link rel="stylesheet" href="../../static/css/amazeui.min.css" th:href="@{/css/amazeui.min.css}"/>
    <script src="../../static/js/libs/jquery.min.js" th:src="@{/js/libs/jquery.min.js}"></script>
    <script src="../../static/js/libs/amazeui.min.js" th:src="@{/js/libs/amazeui.min.js}"></script>
    <script src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
    <!--[if lte IE 9]>
    <p class="browsehappy">You are using a<strong> outdated </strong>browser which is not supported in this website. please <a href="http://browsehappy.com/" target="_blank">UPDATE YOUR BROWSER</a>
        and try again!</p>
    <![endif]-->
</head>
<body>
<div class="am-panel am-panel-primary" style="margin: 1em;" th:if="${!hasErrors}">
    <header class="am-panel-hd">
        <span class="am-panel-title">All Blocks</span>
        <a href="javascript:void(0)" th:href="@{/}" style="float: right;color:white;text-decoration: underline;">Back</a>
    </header>
    <div class="am-panel-bd">
        <ul class="am-pagination">
            <li class="am-pagination-prev" th:if="${page}!=${pages}">
                <a href="javascript:void(0)" th:href="|/eth/blocks?page=${page+1}|">
                    <span class="am-icon-angle-double-left"></span>Prev
                </a>
            </li>
            <li class="am-pagination-prev am-disabled" th:if="${page}==${pages}" >
                <a href="javascript:void(0)">
                    <span class="am-icon-angle-double-left"></span>Prev
                </a>
            </li>
            <li class="am-pagination-next" th:if="${page}!=1">
                <a href="javascript:void(0)" th:href="|/eth/blocks?page=${page-1}|">
                    Next<span class="am-icon-angle-double-right"></span>
                </a>
            </li>
            <li class="am-pagination-next am-disabled" th:if="${page}==1">
                <a href="javascript:void(0)">
                    Next<span class="am-icon-angle-double-right"></span>
                </a>
            </li>
        </ul>
    </div>
    <table class="am-table am-scrollable-horizontal am-text-nowrap am-table-bordered">
        <thead>
        <tr>
            <th>Height</th>
            <th>Hash</th>
            <th>TXs</th>
            <th>Miner</th>
            <th>Size(Bytes)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="block:${blocks}">
            <td th:text="${block.getNumber()}"></td>
            <td><a th:text="${block.getHash()}" th:href="|/eth/block/${block.getHash()}|"></a></td>
            <td th:text="${block.getTransactions().size()}"></td>
            <td><a th:text="${block.getMiner()}" th:href="|/eth/account/${block.getMiner()}|"></a></td>
            <td th:text="${block.getSize()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="am-alert am-alert-danger" data-am-alert="" th:if="${hasErrors}">
    Can't get block information!
</div>

<!--[if lt IE 9]>
<script src="../../static/js/libs/jquery.min.js" th:src="@{/js/libs/jquery.min.js}"></script>
<script src="../../static/js/libs/modernizr.js" th:src="@{/js/libs/modernizr.js}"></script>
<script src="../../static/js/libs/amazeui.ie8polyfill.min.js" th:src="@{/js/libs/amazeui.ie8polyfill.min.js}"></script>
<![endif]-->

</body>
</html>