<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${hasErrors}?'Errors!':'Block '+${block.getNumber()}"></title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Ethereum Explorer"/>
    <meta name="keywords" content="Ethereum Explorer,Ethereum,Blockchain"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, sys-scalable=no"/>
    <meta name="renderer" content="webkit"/>
    <link rel="stylesheet" href="../../static/css/amazeui.min.css" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" href="../../static/css/admin.css" th:href="@{/css/admin.css}"/>
    <script src="../../static/js/libs/jquery.min.js" th:src="@{/js/libs/jquery.min.js}"></script>
    <script src="../../static/js/libs/amazeui.min.js" th:src="@{/js/libs/amazeui.min.js}"></script>
    <script src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
    <!--[if lte IE 9]>
    <p class="browsehappy">You are using a<strong> outdated </strong>browser which is not supported in this website. please <a href="http://browsehappy.com/" target="_blank">UPDATE YOUR BROWSER</a>
        and try again!</p>
    <![endif]-->
</head>
<body>
<div class="am-panel am-panel-primary" style="margin: 1em;" th:if="${!hasErrors}">
    <header class="am-panel-hd">
        <span class="am-panel-title">Block Details</span>
        <a href="javascript:void(0)" th:href="@{/}" style="float: right;color:white;text-decoration: underline;">Back</a>
    </header>
    <div class="am-panel-bd">
    </div>
    <ul class="am-list am-list-static am-list-border">
        <li>Height:<span th:text="${block.getNumber()}"></span></li>
        <li>Timestamp:<span th:text="${block.getTimestampRaw()}"></span></li>
        <li>Transactions:<span>
            There are
            <span class="am-badge am-badge-success">
                <a href="javascript:void(0)" th:href="|/eth/transactions?blockHash=${block.getHash()}|"
                   th:text="${block.getTransactions().size()}" style="color: white;"></a>
            </span>
            transactions
            </span>
        </li>
        <li>Hash:<span th:text="${block.getHash()}"></span></li>
        <li>Parent Hash:<span><a th:text="${block.getParentHash()}"
                            th:href="|/eth/block/${block.getParentHash()}|"></a></span></li>
        <li>Sha3Uncles：<span th:text="${block.getSha3Uncles()}"></span></li>
        <li>Miner:<span><a th:text="${block.getMiner()}" th:href="|/eth/account/${block.getMiner()}|"></a></span></li>
        <li>Difficulty:<span th:text="${block.getDifficulty()}"></span></li>
        <li>Total Difficulty:<span th:text="${block.getTotalDifficulty()}"></span></li>
        <li>Size(Bytes):<span th:text="${block.getSize()}"></span></li>
        <li>Transaction Root：<span th:text="${block.getTransactionsRoot()}"></span></li>
        <li>State Root：<span th:text="${block.getStateRoot()}"></span></li>
        <li>Gas Limit：<span th:text="${block.getGasLimit()}"></span></li>
        <li>Gas Used：<span th:text="${block.getGasUsed()}"></span></li>
        <li>Nonce：<span th:text="${block.getNonce()}"></span></li>
        <li>Extra：<span th:text="${block.getExtraData()}"></span></li>
    </ul>
</div>

<div class="am-alert am-alert-danger" data-am-alert="" th:if="${hasErrors}">
    Can't get block information!
</div>
<!--[if lt IE 9]>
<script src="../../static/js/libs/jquery.min.js" th:src="@{/js/libs/jquery.min.js}"></script>
<script src="../../static/js/libs/modernizr.js" th:src="@{/js/libs/modernizr.js}"></script>
<script src="../../static/js/libs/amazeui.ie8polyfill.min.js" th:src="@{/js/libs/amazeui.ie8polyfill.min.js}"></script>
<![endif]-->

</body>
</html>