<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${hasErrors}?'Errors!':'Block '+${blockNumber}+'\'s Transactions'"></title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Ethereum Explorer"/>
    <meta name="keywords" content="Ethereum Explorer,Ethereum,Blockchain"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, sys-scalable=no"/>
    <meta name="renderer" content="webkit"/>
    <link rel="stylesheet" href="../../static/css/amazeui.min.css" th:href="@{/css/amazeui.min.css}"/>
    <script src="../../static/js/libs/jquery.min.js" th:src="@{/js/libs/jquery.min.js}"></script>
    <script src="../../static/js/libs/amazeui.min.js" th:src="@{/js/libs/amazeui.min.js}"></script>
    <script src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
    <!--[if lte IE 9]>
    <p class="browsehappy">You are using a<strong> outdated </strong>browser which is not supported in this website. please <a href="http://browsehappy.com/" target="_blank">UPDATE YOUR BROWSER</a>
        and try again!</p>
    <![endif]-->
</head>
<body>
<div class="am-panel am-panel-primary" style="margin: 1em;" th:if="${!hasErrors}">
    <header class="am-panel-hd">
        <span class="am-panel-title" th:text="'Block '+${blockNumber}+'\'s Transactions'"></span>
        <a href="javascript:void(0)" th:href="@{/}" style="float: right;color:white;text-decoration: underline;">Back</a>
    </header>
    <div class="am-panel-bd"></div>
    <table class="am-table am-scrollable-horizontal am-text-nowrap am-table-bordered">
        <thead>
        <tr>
            <th>Block Number</th>
            <th>Transaction Address</th>
            <th>From</th>
            <th>To</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tx:${transactions}">
            <td><a th:text="${tx.getBlockNumber()}" th:href="|/eth/block/${tx.getBlockHash()}|"></a></td>
            <td><a th:text="${tx.getHash()}" th:href="|/eth/transaction/${tx.getHash()}|"></a></td>
            <td><a th:text="${tx.getFrom()}" th:href="|/eth/account/${tx.getFrom()}|"></a></td>
            <td><a th:text="${tx.getTo()}" th:href="|/eth/account/${tx.getTo()}|"></a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="am-alert am-alert-danger" data-am-alert="" th:if="${hasErrors}">
    Can't get transaction information!
</div>

<!--[if lt IE 9]>
<script src="../../static/js/libs/jquery.min.js" th:src="@{/js/libs/jquery.min.js}"></script>
<script src="../../static/js/libs/modernizr.js" th:src="@{/js/libs/modernizr.js}"></script>
<script src="../../static/js/libs/amazeui.ie8polyfill.min.js" th:src="@{/js/libs/amazeui.ie8polyfill.min.js}"></script>
<![endif]-->

</body>
</html>